# Ambiente Base
ENVIRONMENT=development
LOG_LEVEL=INFO

# Banco de Dados
DATABASE_HOST=postgres
DATABASE_PORT=5432
DATABASE_USER=stitch_admin
DATABASE_PASSWORD=secret_postgres
DATABASE_NAME=stitch_db

# Cache e Filas
REDIS_HOST=redis
REDIS_PORT=6379

# Gateways
API_PORT=8000
